.infoPage{
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    /* width: 100vw; */
    /* background: var(--bg); for some reason --bg is not defined */
}

.infoPage h2{
    margin: 0;
}

@media only screen and (max-width:769px){
    .infoPage{
        flex-direction: column;
    }
}