:root {
  --bg_fallback: #396afc;  /* fallback for old browsers */
  --bg_webkit: -webkit-linear-gradient(to left, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
  --bg: linear-gradient(to left, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  --faint: #7A7E8B; 
  --link-blue-dark: #010F38;
  --primary: #396AFC;
  --link-blue: #6A39FC;
  
}

html, body{
  box-sizing: border-box;
  margin: 0; padding: 0;
}

main{
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  /* background: var(--bg); */
}

h1{
  margin: 0px; padding: 20px;
}

.header{
  height: min(60px, 30vh);
  background: var(--bg);
}

a {
  color: var(--link-blue);
  text-decoration: none;
}

.title{
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .3px;
  margin: 15px 0;
}

.subtitle{
  color: var(--faint);
  font-size: 14px;
  font-weight: 600;
}

@media only screen and (max-width:540px){
  .title{
      font-size: 18px;
      letter-spacing: .2px;
      margin: 10px 0;
  }

  .subtitle{
    font-size: 12px;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
