:root {
  --bg_fallback: #396afc;  /* fallback for old browsers */
  --bg_webkit: -webkit-linear-gradient(to left, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
  --bg: linear-gradient(to left, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  --faint: #7A7E8B; 
  --link-blue: #010F38;
  --primary: #396AFC;
  
}

html, body{
  box-sizing: border-box;
  margin: 0; padding: 0;
}

main{
  width: 100%;
  overflow-x: hidden;
  min-height: 100vw;
  background: var(--bg);
}

h1{
  margin: 10px; padding: 10px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
