.theSection{
    height: calc(100vh - 260px); /*100vh - height of header, padding may break this element*/
    padding: min(25vh, 200px) 0 0 0;
}

.area{
    /* width: 60%; I can increase this on smaller screens */
    width: min(92%, 600px);
    margin: 0 auto;
}

